
.vs/ProyectoFinal/v17/ipch/AutoPCH/df75fefea18d38d7/MAINPRUEBA.ipch
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/FileContentIndex/213435e0-9602-40c7-8771-bc3ed3270971.vsidx
